.reset-pass{
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    height: 100%;
    width: 100%;
  }

  &__content {
    max-height: 95%;
    width: 80%;
    max-width: 375px;
    background: white;
    border-radius: 12px;
    position: relative;
    color: black;
    border: 0;
    overflow: auto;

    @media screen and (min-width: 1200px) {
      width: 510px;
      max-width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a9;
    padding: 18px 20px;

    @media screen and (min-width: 1200px){
      padding: 35px 40px;
    }

    .reset-pass__span{
      font-size: 28px;
      line-height: 39px;
      font-weight: 400;
      margin-bottom: 10px;
      color: black;

      @media screen and (min-width: 1200px){
        margin-bottom: 25px;
      }
    }
    .password {
      width: 100%;
      display: flex;
      position: relative;

      input {
        box-sizing: border-box;
        margin: 5px 0;
        height: 40px;
        width: 100%;
        background: transparent;
        border: 1px solid #a3a3a9;
        border-radius: 5px;
        padding-left: 15px;
        font-size: 15px;
        font-weight: 400;

        &:focus {
          outline: none;
          border: 2px solid #83B1C3;
        }
      }

      .show-password-button {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5px;
        top: 7px;
        width: 9%;
        height: 35px;
        cursor: pointer;

        @media screen and (min-width: 1200px) {
          right: 0;
        }

        &__active {
          display: flex;
        }
      }
    }

    .reset-pass__button{
      height: 40px;
      width: 160px;
      background: #8FCEB9;
      border-radius: 36px;
      border: 0;
      color: black;
      cursor: pointer;
      font-weight: 400;
      font-size: 13px;
      margin: 10px 0;

      @media screen and (min-width: 1200px){
        margin: 15px 0;
      }

      &:hover{
        background: white;
        border: 1px solid black;
      }

      &:disabled {
        color: #a3a3a9;
        border: 1px solid #a3a3a9;
        background: transparent;
      }
    }

    .line{
      width: 100%;
      border-bottom: 1px solid #a3a3a9;
      margin: 10px 0 15px;

      @media screen and (min-width: 1200px) {
        margin: 10px 0 20px;
      }
    }

    .back{
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: black;
      cursor: pointer;
    }
  }

  &__cross{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url("../../../assets/images/cross.svg") center no-repeat;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
